{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {%
block title %} SIGN UP {% endblock %} {% block navigation %}

<div class="menu-choice" id="today-chart">
  <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice">
  <a class="menu-link" href="{% url 'chart for ad' %}" target="_blank"
    >Chart for any date</a
  >
</div>

<div class="menu-choice">
  <a class="menu-link" href="{% url 'transit form chart' %}" target="_blank"
    >Transits</a
  >
</div>

<div class="menu-choice menu-choice-dd">
  <div>
    C
    <img id="clr-chart-icon" src="{% static 'images/zr_clr_icon.png' %}" /> LOR
  </div>
  <div class="menu-choice-dd-content">
    <div class="menu-choice-dd-content-links">
      <a href="{% url 'color your chart' %}"> color chart </a>
    </div>
  </div>
</div>

<div class="menu-choice menu-choice-dd opened-tab">
  {% if user.is_authenticated %}
  <div>
    <a href="{% url 'user lounge' user.username %}" target="_blank">
      {{ user.username }}
    </a>
    <div class="menu-choice-dd-content">
      <a href="{% url 'logout' %}"> Log out </a>
    </div>
    {% else %}
    <div>signing in</div>
    {% endif %}
  </div>

  {% endblock %} {% block content-data %}
  <div class="chart-form auth" id="auth-form">
    <div class="instruction-text">
      <h3 class="auth-form-login">GET AN ACCOUNT</h3>
    </div>
    <form class="chart-forms" action="" target="_blank" method="post">
      {{ reg_form.media }} {% csrf_token %}
      <div class="form-row">
        <label for="id_first_name">First name:</label>
        <input
          type="text"
          name="first_name"
          maxlength="150"
          id="id_first_name"
        />
      </div>

      <div class="form-row">
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="150" id="id_last_name" />
      </div>

      <div class="form-row">
        <label for="id_username" class="tooltip">
          <span class="tooltiptext"> Maximum 150 characters </span
          >Username:</label
        >
        <input
          type="text"
          name="username"
          maxlength="150"
          autofocus
          required
          aria-describedby="id_username_helptext"
          id="id_username"
        />
      </div>

      <div class="form-row">
        <label for="id_email">Email:</label>
        <input
          type="email"
          name="email"
          maxlength="320"
          required
          aria-describedby="id_email_helptext"
          id="id_email"
        />
      </div>

      <div class="form-row">
        <label for="id_password1" class="tooltip">
          <span class="tooltiptext">
            Minimum 8 characters, numbers included</span
          >
          Password:</label
        >
        <input
          type="password"
          name="password1"
          autocomplete="new-password"
          required
          aria-describedby="id_password1_helptext"
          id="id_password1"
        />
      </div>

      <div class="form-row">
        <label for="id_password2">Password confirmation:</label>
        <input
          type="password"
          name="password2"
          autocomplete="new-password"
          required
          aria-describedby="id_password2_helptext"
          id="id_password2"
        />
      </div>
      <button class="show-chart" type="submit">Sign up</button>
    </form>
  </div>

  {% endblock %}
</div>
