AWS_ACCESS_KEY_ID=YCAJExXKw6oDlpLtvqd8S4WzQ
AWS_SECRET_ACCESS_KEY=YCMg6CTz3BaXdu3w1snYmcHIfMAUFqDaOuo4CdSq
BUCKET_NAME=имя_вашего_бакета
ENDPOINT_URL=https://storage.yandexcloud.net
REGION=ru-central1

YDB_ENDPOINT=grpc://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/b1g.../etn...