
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');



body {
     /*wallpaperflare.com*/

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    background-image: url("/static/images/starry_sky.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;


}

.main-container {
    max-width: 90%;
    margin: auto;

}

a {
    text-decoration: none;
    color: aliceblue;

}

#hat {
    width: 100px;
    height: 130px;
    zoom: 15%;
}


 * {
  box-sizing: border-box;
}



/*.table-symbols td {
    font-size: xx-large;
    padding: 8px;
}*/

.link-symbols:hover {
    color: gold;
    font-style: bold;

}


.link-symbols {
    color: blue;
    font-size: xx-large;
}

.house-meaning:hover {
    color: lawngreen;

}

.tooltip {
  position: relative;
  display: inline-block;




}
.tooltip .tooltiptext {
  visibility: hidden;

  background-color:  rgb(159,0,255);
  color: gold;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */

  position: absolute;
  z-index: 1;
  top: 105%;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

table, th, td {

  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 1px;

}

th {
    font-variant-caps: all-petite-caps;
    border: 1px solid;
}

td {
    border: 1px solid;
}


.navigation {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(100px, auto)

}

.menu-choice {
    background-image: linear-gradient(170deg, gold, rgba(159,0,255, 0.2));
       /*background-image: radial-gradient(rgba(159,0,255, 0.2), gold);*/

     text-align: center;
     font-size: 200%;
     font-stretch: 100%;
     font-weight: 600;
     align-content: center;
     box-shadow: 10px 10 5px lightblue;
     border-top-right-radius: 20%;
     border-top-right-radius: 10%;
     color: lightblue;
     font-variant-caps: all-petite-caps;
     border-left: solid 7px rgba(120,0,255, 0.7);

}

#today-chart {
    border-left: none;

 }


.menu-choice:hover {
     box-shadow: 10px -4px 5px hotpink;
     color: lightblue;

}

.menu-choice-dd {
    position:relative;
    display: inline-block;
}

.menu-choice-dd-content {
      display: none;
      position: absolute;
      background-color: gold;
      width: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
}

.menu-choice-dd:hover .menu-choice-dd-content {
  display: block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    }


.menu-link {
    padding: 5px;

}


.chart-data {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: 2;
    align-content: center;
    color: rgb(216,218,220);
    font-size: x-large;
}

.interpretation-data {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: x-large;
    gap: 10px;



}


.content-data {

    align-content: center;
    /*background-color: rgba(159,0,255, 0.3);*/
    background-image: linear-gradient(180deg, rgba(159,0,255, 0.4), rgba(159,0,255, 0.0));
    color: rgb(216,218,220);
    font-size: x-large;
    padding: 106px;
    padding-bottom: 56px;

}


.user-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

}



#cfl-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.messages {
    background-color: rgba(237,40,89,0.3);
    border-radius: 30%;
}
/*#chart-fig:hover {
    scale: 1.5;*/
}



h1 {
    text-align: center;
    color: aliceblue;
}

.oppositions:has(td:empty) {
    display: none;
 }


/*.aspects-table-data {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column: 2/3;
    grid-row: 2;
    color: 'aliceblue';
    justify-content: space-between;
}*/


.table-data {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 17px;
    display: block;


}

.sign-buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(150px, auto);

}

.sign-button {
    background-color: #dd0bae;
    border-top-left-radius: 20%;
} 


.chart-fig {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 17px;




}

.chart-form {
    padding: 17px;
    align-items: center;
    margin-bottom: 10px;

}


#chart-plot {
    /*display: block;
    position: absolute;
    z-index: 1;*/
    margin-left: auto;
    margin-right: auto;

 }


/* #zodiac_ring_tr {
    z-index: 2;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */



.form-info {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.transit-info {

    align-items: end;
}


.transit-data div table {
    padding: 10px;
}


.table-div {
    border: 1px solid;
    padding: 4px;
    height: fit-content;
    width: fit-content;
}



.tr-chart-form {
    margin-left: auto;
    margin-right: auto;
    color: gold;
}


.chart_link {
    color: aliceblue;
}

#transit-data {
    margin-left: auto;
    margin-right: auto;
}

.table-cont {

}

.user-data {



}

.user-info {
    line-height: 1.2;
    /*background-image: url("/static/images/tr_zr_1.png");*/


    text-align: center;
}

.avatar {
    padding: 17px;
    margin: 10px;
}

.form-popup {
    display: none;

}

.form-container {
    position: fixed;
    z-index: 9;
    width: fit-content;
    height: fit-content;
}

.chart-list {
    text-align: center;
}

.user-forms {
    text-align: center;
}

.auth {
    justify-content: center;


}