* {
     box-sizing: border box;

}


#chart-container {
    background-color: hsl(170, 70%, 30%);
    margin: auto;
    max-width: 90%;
    background-position: center;


   
}


#chart-layers {
    margin: auto;

    max-width: 50%;

}


#chart-plot {
    position: absolute;
    z-index: 2;
    margin:auto;

#date-chart-plot {

    position:absolute;
    z-index: 1;
    margin:auto;


}


#event-chart-plot {

    position: absolute;
    z-index: 1;

}

#transit-chart-plot {

    position: absolute;
    z-index: 1;
    margin:auto;

}

#zodiac_ring_transit_chart {
    z-index: 2;


}




#zodiac_ring_tr{
    z-index: 2;


}




    /* opacity: 0.8; */


}
#chart-axes {
    position: relative;
    z-index: 2;


}

#house-plot {
    position:absolute;
    z-index: 1

}

#transit-chart {
    position: absolute;
    z-index: 2;
    margin:auto;

}




#birth-chart {
    position: absolute;
    z-index: 2;
    margin:auto;

}


#planet-list {
     border: 1px solid;


}



table, th, td {
  border: 1px solid black;
}


#house-cusps-positions {



}

.chart-data-tables {
    display: inline;

}

.table {

    display: inline;

}