@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

 * {
  box-sizing: border-box;
}


.planet-symbols {

    font-size: 100px;
    padding: 0px;
    margin: 17px;



}



.interpretation-sec {

    display: flex;
    flex-direction: row;
    justify-items: end;
    padding: 0px ;
    border: 1px solid;
    margin-bottom: 10px;

}

.sign-symbols {

    padding: 0px;
    font-size: 100px;
    margin: 17px;

}

.luminary {
    padding: 17px;
    border: 1px solid;
}

.fire-signs {

    padding: 17px;

}

.fire-sign {
    color: red;
}

.air-signs {

    padding: 17px;
    border: 1px solid;
}

.water-signs {

    padding: 17px;
    border: 1px solid;


}

.earth-signs {

    padding: 17px;
    border: 1px solid;


}


.houses {

    padding: 17px;
    border: 1px solid;



}

.house-number {

    font-size: 70px;
    padding: 0px;
    margin: 17px;
}

.description {

    line-height: 1.2;
    text-indent: 10% each-line;
    hyphens: auto;
    padding-block: 0px;
    margin-block: 0px;

}

#hidden-descr {
    display: none;

}

.hidden-descr {
    display: none;

}
