{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Birth chart</title>
</head>
<body>

 <div id="chart-container">
       <div id="chart-layers">
            <img src="{% static 'plots/birth_plot.png' %}" alt = "birth chart" id="birth-chart">
             <img src="{% static 'plots/house_chart.png' %}" alt="house axes" id="house-plot">
            <img src="{% static 'images/tr_zr.png' %}" alt = "chart axes" id="chart-axes">
       </div>

     <div class="chart-data-tables">
            <table id="planet-list" >
                <caption> Planet position data </caption>
                <thead>
                  <tr>
                        <th> Planet </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for sym, sign, thdeg in planet_deg %}
                    <tr>
                         <td> {{ sym }}</td>
                        <td> {{ thdeg }}</td>
                        <td> {{ sign }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
           </table>

           <table id="aspects" >
                <caption> Aspect </caption>
                <thead>
                  <tr>
                        <th> Planets </th>

                  </tr>
                </thead>
                <tbody>
                     {% for p in ops %}
                    <tr>
                         <td> {{ p }}</td>

                    </tr>
                     {% endfor %}
                </tbody>
           </table>



        </div>



</body>
</html>