{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ clr_chart.chart_name}} {% endblock %}


{% block navigation %}

<div class="menu-choice" id="today-chart">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice menu-choice-dd">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>



<div class="menu-choice opened-tab">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> ENTER
            <div class="menu-choice-dd-content">
                <div>
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>
{% endblock %}


{% block chart-data %}

<div class="table-data">
    <table>
        <caption> Planet data </caption>
         <thead>
             <tr>
                 <th> Planet </th>
                 <th> Degrees </th>
                 <th> Sign </th>
             </tr>
             </thead>

             <tbody>
                    <tr>
                        <td> Sun </td>
                         <td> {{ clr_chart.Sun_deg}} </td>
                        <td> {{ clr_chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Moon  </td>
                         <td> {{ clr_chart.Moon_deg}} </td>
                        <td> {{ clr_chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Mercury </td>
                         <td> {{ clr_chart.Mercury_deg}} </td>
                        <td> {{ clr_chart.Mercury_sign }} </td>
                    </tr>

                     <tr>
                        <td> Venus </td>
                         <td> {{ clr_chart.Sun_deg}} </td>
                        <td> {{ clr_chart.Moon_sign }} </td>
                    </tr>

                    <tr>
                        <td> Mars </td>
                         <td> {{ clr_chart.Mars_deg}} </td>
                        <td> {{ clr_chart.Mars_sign }} </td>
                    </tr>

                    <tr>
                        <td> Jupiter </td>
                         <td> {{ clr_chart.Jupiter_deg }} </td>
                        <td> {{ clr_chart.Jupiter_sign }} </td>
                    </tr>

                    <tr>
                        <td> Saturn </td>
                         <td> {{ clr_chart.Saturn_deg }} </td>
                        <td> {{ clr_chart.Saturn_sign }} </td>
                    </tr>


                    <tr>
                        <td> Uranus </td>
                         <td> {{ clr_chart.Uranus_deg }} </td>
                        <td> {{ clr_chart.Uranus_sign }} </td>
                    </tr>


                    <tr>
                        <td> Neptune </td>
                         <td> {{ clr_chart.Neptune_deg }} </td>
                        <td> {{ clr_chart.Neptune_sign }} </td>
                    </tr>

                       <tr>
                        <td> Pluto </td>
                         <td> {{ clr_chart.Pluto_deg }} </td>
                        <td> {{ clr_chart.Pluto_sign }} </td>
                    </tr>

         </table>

</div>

<div class="chart-fig">
    <h3> {{ chart.chart_name }}</h3>
      Event name : {{ clr_chart.chart_name }}
        Event date: {{ clr_chart.chart_date }}
        Event city : {{ clr_chart.city }}
        Event country : {{ clr_chart.country }}
    <img src="/media/{{ clr_chart.chart_image }}/" alt="{{ clr_chart.chart_image }}">

    <form method = "POST">
         {% csrf_token %}
        <button class="show-chart"  type="submit"> Delete {{ clr_chart.chart_name }} </button>
    </form>
    <a href="{% url 'user lounge' user.username %}" > To lounge </a>
    </br><a href="{% url 'user chart lists' %}" > To lists </a>
</div>

<div class="table-data">
    <table id="clr_chart-hc-data">
        <caption> HC data </caption>
         <thead>
         <tr>
                       <th>HC</th>
                        <th>Degree</th>
                        <th>Sign</th>
                   </tr>
                   </thead>

                   <tbody>
                        <tr>
                            <td> {{ clr_chart.first_house }}</td>
                            <td> {{ clr_chart.asc_deg }}</td>
                             <td> {{ clr_chart.asc_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ clr_chart.second_house }}</td>
                            <td> {{ clr_chart.resource_deg }}</td>
                             <td> {{ clr_chart.resource_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ clr_chart.third_house }}</td>
                            <td> {{ clr_chart.mental_deg }}</td>
                             <td> {{ clr_chart.mental_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ clr_chart.forth_house }}</td>
                            <td> {{ clr_chart.home_deg }}</td>
                             <td> {{ clr_chart.home_sign }}</td>
                        </tr>


                        <tr>
                            <td> {{ clr_chart.fifth_house }}</td>
                            <td> {{ clr_chart.game_deg }}</td>
                             <td> {{ clr_chart.game_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ clr_chart.sixth_house }}</td>
                            <td> {{ clr_chart.work_deg }}</td>
                             <td> {{ clr_chart.work_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ clr_chart.seventh_house }}</td>
                            <td> {{ clr_chart.rel_deg }}</td>
                             <td> {{ clr_chart.rel_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ clr_chart.eighth_house }}</td>
                            <td> {{ clr_chart.magic_deg }}</td>
                             <td> {{ clr_chart.magic_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ clr_chart.nineth_house }}</td>
                            <td> {{ clr_chart.esoteric_deg }}</td>
                             <td> {{ clr_chart.esoteric_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ clr_chart.tenth_house }}</td>
                            <td> {{ clr_chart.status_deg }}</td>
                             <td> {{ clr_chart.status_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ clr_chart.eleventh_house }}</td>
                            <td> {{ clr_chart.interests_deg }}</td>
                             <td> {{ clr_chart.interests_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ clr_chart.twelfth_house }}</td>
                            <td> {{ clr_chart.benefits_deg }}</td>
                             <td> {{ clr_chart.benefits_sign }}</td>
                        </tr>
                   </tbody>

    </table>
</div>
<script>
      window.onload = function() {
        const table = document.getElementById('clr_chart-hc-data');
        if (table) {
            const tbodyRows = table.querySelectorAll('tbody tr');
            if (tbodyRows.length === 0) {
                table.style.display = 'none';
            }
        }
    };
</script>
{% endblock %}