{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Color your chart {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart">
    <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/wheel_year" target = '_blank'>Wheel Year</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/interpretations" target = '_blank'>Interpretations</a>
</div>

<div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4)">
    <div class="menu-choice-dd"> Creative Astrology
        <div class="menu-choice-dd-content">
            <a href="http://127.0.0.1:8000/design_your_chart"> colorful chart </a>
             <a href="#"> imaginery chart </a>
        </div>
    </div>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/shop" target = '_blank'>Shop</a>
</div>

<div class="menu-choice">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'my chart' user.username %}" target = '_blank'> My chart {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> LOG IN / SIGN UP
            <div class="menu-choice-dd-content">
                <div style="background-color: purple">
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>
{% endblock %}

{% block content-data %}
<div class="chart-data" id="cfl-layout">
    <div class="chart-form">
        <h3> Chart parameters </h3>
        <form class="chart-forms"  id="cfl-chart" target="_blank"  method="post">
            {{ zodiac_form.media }}
            {% csrf_token %}

            {{ zodiac_form | crispy }}
<!--            <div>-->
<!--                  <label for="chart-date"> {{ zodiac_form.cz_chart_date.label }} </label>-->
<!--                  <input type="datetime-local" id="chart-date" class="form-control">-->
<!--            </div>-->

<!--            <div>-->
<!--                   <label for="chart-city"> {{ zodiac_form.cz_chart_city.label }} </label>-->
<!--                    <input type="text" class="form-control" id='chart-city'>-->
<!--            </div>-->

<!--            <div>-->
<!--                <label for="chart-country"> {{ zodiac_form.cz_chart_country.label }} </label>-->
<!--                <input type="text" class="form-control" id="chart-country">-->
<!--            </div>-->

<!--&lt;!&ndash;            <div> Enter date   <label for="chart-date"> {{ zodiac_form.cz_chart_date.label }} </label>-->
<!--&lt;!&ndash;            <div> Enter date {{ zodiac_form.cz_chart_city }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div> Enter date {{ zodiac_form.cz_chart_country}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ zodiac_form | crispy }}&ndash;&gt;-->

<!--             <div class="sign-design">-->
<!--                   <div id="sd-title"> <h2 style="text-align: center"> Sign design </h2> </div>-->
<!--                    <h3> Aries design ♈︎ </h3>-->
<!--                 <div>-->
<!--                     <label for="aries-fc"> face text input  </label>-->
<!--                     <input class="form-control" id="aries-fc" name=aries-ec">-->
<!--                     {{ zodiac_form.track_aries_axis_fc }}-->

<!--&lt;!&ndash;                     <div class="form-control" id="aries-fc"> {{ zodiac_form.track_aries_axis_fc }} ♈︎  </div>&ndash;&gt;-->
<!--                      <label for="aries-ec"> edge </label>-->
<!--                       <input class="form-control" id="aries-ec" type="color" name=aries-ec">-->
<!--&lt;!&ndash;                     <div class="form-control" id="aries-ec">  {{ zodiac_form.track_aries_axis_ec }} ♈︎  </div>&ndash;&gt;-->
<!--                     <label for="aries-tc"> text </label>-->
<!--                       <input class="form-control" id="aries-tc" type="color" name=aries-tc">-->
<!--&lt;!&ndash;                      <div class=form-control" id="aries-tc"> {{ zodiac_form.track_aries_axis_tc }} ♈︎  </div>&ndash;&gt;-->
<!--                 </div>-->

<!--&lt;!&ndash;                 <div> face {{ zodiac_form.track_aries_axis_fc }} ♈︎  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> edge {{ zodiac_form.track_aries_axis_ec }} ♈︎  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.track_aries_axis_tc }} ♈︎  </div>&ndash;&gt;-->
<!--             </div>-->


<!--            <div class="sign-design">-->
<!--                    <h3> Leo design ♌︎ </h3>-->
<!--                 <label for="leo-fc"> face </label>-->
<!--                 <input class="form-control" id="leo-fc"  type="color" name="leo-fc">-->
<!--&lt;!&ndash;                     <div class="form-control" id="leo-fc">  {{ zodiac_form.track_leo_axis_fc }} ︎</div>&ndash;&gt;-->
<!--                      <label for="leo-ec"> edge </label>-->
<!--                         <input class="form-control" id="leo-ec"  type="color" name="leo-ec">-->
<!--&lt;!&ndash;                     <div class="form-control" id="leo-ec"> {{ zodiac_form.track_leo_axis_ec }}  </div>&ndash;&gt;-->
<!--                     <label for="leo-tc" > text </label>-->
<!--                             <input class="form-control" id="leo-tc"  type="color" name='leo-tc'>-->
<!--&lt;!&ndash;                      <div class=form-control" id="leo-tc"> {{ zodiac_form.track_leo_axis_tc }} </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                <div> face {{ zodiac_form.track_leo_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> edge {{ zodiac_form.track_leo_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.track_leo_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="sign-design">-->
<!--                <h3> Sagittarius ♐︎  </h3>-->
<!--                 <label for="zodiac_form.track_sag_axis_fc"> face </label>-->
<!--                     <input class="form-control" id="sag-fc"  type="color" name="sag-fc">-->
<!--&lt;!&ndash;                     <div class="form-control" id="sag-fc"> {{ zodiac_form.track_sag_axis_fc }} ♈︎  </div>&ndash;&gt;-->
<!--                      <label for="zodiac_form.track_sag_axis_ec"> edge </label>-->
<!--                         <input class="form-control" id="sag-ec"  type="color" name="sag-ec">-->
<!--&lt;!&ndash;                     <div class="form-control" id="sag-ec">  {{ zodiac_form.track_sag_axis_ec }} ♈︎  </div>&ndash;&gt;-->
<!--                     <label for="zodiac_form.track_sag_axis_tc"> text </label>-->
<!--                     <input class="form-control" id="sag-tc"  type="color" name="sag-tc">-->

<!--&lt;!&ndash;                      <div class=form-control" id="sag-tc">  {{ zodiac_form.track_sag_axis_tc }} ♈︎  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                   <div> face {{ zodiac_form.track_sag_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> edge {{ zodiac_form.track_sag_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.track_sag_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="sign-design">-->
<!--            <h3> Gemini design ♊︎  </h3>-->
<!--                 <label for="zodiac_form.track_gemini_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="gemini-fc"> {{ zodiac_form.track_gemini_axis_fc }} ♈︎  </div>-->
<!--                      <label for="zodiac_form.track_gemini_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="gemini-ec"> {{ zodiac_form.track_gemini_axis_ec }} ♈︎  </div>-->
<!--                     <label for="zodiac_form.track_gemini_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="gemini-tc">  {{ zodiac_form.track_gemini_axis_tc }} ♈︎  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_gemini_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_gemini_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_gemini_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="sign-design">-->
<!--            <h3> Aquarius design ♒︎︎ </h3>-->
<!--                 <label for="zodiac_form.track_aqua_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="aqua-fc"> {{ zodiac_form.track_aqua_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_aqua_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="aqua-ec"> {{ zodiac_form.track_aqua_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_aqua_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="aqua-tc"> {{ zodiac_form.track_aqua_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_aqua_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_aqua_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_aqua_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="sign-design">-->
<!--            <h3> Libra design ♎︎ </h3>-->
<!--                  <label for="zodiac_form.track_libra_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="libra-fc"> {{ zodiac_form.track_libra_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_libra_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="libra-ec"> {{ zodiac_form.track_libra_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_libra_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="libra-tc"> {{ zodiac_form.track_libra_axis_tc }}  </div>-->

<!--            </div>-->

<!--             <div class="sign-design">-->
<!--            <h3> Cancer design ♋︎ ︎ </h3>-->
<!--                  <label for="zodiac_form.track_cancer_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="cancer-fc"> {{ zodiac_form.track_cancer_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_cancer_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="cancer-ec"> {{ zodiac_form.track_cancer_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_cancer_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="cancer-tc"> {{ zodiac_form.track_cancer_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_cancer_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_cancer_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_cancer_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="sign-design">-->
<!--            <h3> Scorpio design ♏︎ </h3>-->
<!--                  <label for="zodiac_form.track_scorpio_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="scorpio-fc"> {{ zodiac_form.track_scorpio_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_scorpio_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="scorpio-ec"> {{ zodiac_form.track_scorpio_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_scorpio_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="scorpio-tc"> {{ zodiac_form.track_scorpio_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_scorpio_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_scorpio_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_scorpio_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="sign-design">-->
<!--            <h3> Pisces design ♓︎ </h3>-->
<!--                  <label for="zodiac_form.track_pisces_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="pisces-fc"> {{ zodiac_form.track_pisces_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_pisces_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="pisces-ec"> {{ zodiac_form.track_pisces_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_pisces_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="pisces-tc"> {{ zodiac_form.track_pisces_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_pisces_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_pisces_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_pisces_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="sign-design">-->
<!--            <h3> Virgo design ♍︎  </h3>-->
<!--                  <label for="zodiac_form.track_virgo_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="virgo-fc"> {{ zodiac_form.track_virgo_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_virgo_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="virgo-ec"> {{ zodiac_form.track_virgo_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_virgo_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="virgo-tc"> {{ zodiac_form.track_virgo_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_virgo_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_virgo_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_virgo_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="sign-design">-->
<!--            <h3> Taurus design ♉︎   </h3>-->
<!--                 <label for="zodiac_form.track_taurus_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="taurus-fc"> {{ zodiac_form.track_taurus_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_taurus_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="taurus-ec"> {{ zodiac_form.track_taurus_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_taurus_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="taurus-tc"> {{ zodiac_form.track_taurus_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_taurus_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_taurus_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_taurus_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--              <div class="sign-design">-->
<!--            <h3> Capricorn design ♑︎  </h3>-->
<!--                   <label for="zodiac_form.track_capricorn_axis_fc"> face </label>-->
<!--                     <div class="form-control" id="capricorn-fc"> {{ zodiac_form.track_capricorn_axis_fc }} </div>-->
<!--                      <label for="zodiac_form.track_capricorn_axis_ec"> edge </label>-->
<!--                     <div class="form-control" id="capricorn-ec"> {{ zodiac_form.track_capricorn_axis_ec }} </div>-->
<!--                     <label for="zodiac_form.track_capricorn_axis_tc"> text </label>-->
<!--                      <div class=form-control" id="capricorn-tc"> {{ zodiac_form.track_capricorn_axis_tc }}  </div>-->
<!--&lt;!&ndash;            <div> face {{ zodiac_form.track_capricorn_axis_fc }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> edge {{ zodiac_form.track_capricorn_axis_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.track_capricorn_axis_tc }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="ps-design">-->
<!--            <h3> mercury design  </h3>-->
<!--                 <label for="zodiac_form.mars_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="mars-sm">  {{ zodiac_form.mars_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.mars_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="mars-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.mars_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="mars-mk"> {{ zodiac_form.mars_marker_c }} </div>-->
<!--            </div>-->


<!--            <div class="ps-design">-->
<!--            <h3> Sun design  </h3>-->
<!--                 <label for="zodiac_form.sun_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="sun-sm">  {{ zodiac_form.sun_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.sun_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="sun-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.sun_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="sun-mk"> {{ zodiac_form.sun_marker_c }} </div>-->
<!--&lt;!&ndash;              <div> sc {{ zodiac_form.sun_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div class="symbol-size"> size {{ zodiac_form.sun_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.sun_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--                   <div class="ps-design">-->
<!--            <h3> Jupiter design  </h3>-->
<!--                       <label for="zodiac_form.jup_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="jup-sm">  {{ zodiac_form.jupiter_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.jup_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="jup-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.jup_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="jup-mk"> {{ zodiac_form.jup_marker_c }} </div>-->
<!--&lt;!&ndash;             <div> sc {{ zodiac_form.jupiter_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div class="symbol-size"> size {{ zodiac_form.jup_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;             <div> text  {{ zodiac_form.jup_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="ps-design">-->
<!--            <h3> Mercury design  </h3>-->
<!--                 <label for="zodiac_form.mercury_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="mercury-sm">  {{ zodiac_form.mercury_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.mercury_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="mercury-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.mercury_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="mercury-mk"> {{ zodiac_form.mars_marker_c }} </div>-->

<!--&lt;!&ndash;                 <div> sc {{ zodiac_form.mercury_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.mercury_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.mercury_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="ps-design">-->
<!--                  <h3> Uranus design  </h3>-->
<!--                 <label for="zodiac_form.uranus_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="uranus-sm">  {{ zodiac_form.uranus_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.uranus_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="uranus-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.uranus_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="uranus-mk"> {{ zodiac_form.uranus_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.uranus_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.uranus_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.uranus_marker_c }&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="ps-design">-->
<!--                   <h3> Saturn design  </h3>-->
<!--                  <label for="zodiac_form.saturn_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="saturn-sm">  {{ zodiac_form.saturn_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.saturn_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="saturn-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.saturn_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="saturn-mk"> {{ zodiac_form.saturn_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.saturn_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.saturn_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.saturn_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="ps-design">-->
<!--                  <h3> Moon design  </h3>-->
<!--                 <label for="zodiac_form.moon_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="moon-sm">  {{ zodiac_form.moon_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.moon_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="moon-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.moon_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="moon-mk"> {{ zodiac_form.moon_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.moon_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.moon_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.moon_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="ps-design">-->
<!--                   <h3> Pluto design  </h3>-->
<!--                  <label for="zodiac_form.pluto_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="pluto-sm">  {{ zodiac_form.pluto_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.pluto_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="pluto-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.pluto_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="pluto-mk"> {{ zodiac_form.pluto_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.pluto_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.pluto_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.pluto_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="ps-design">-->
<!--                  <h3> Neptune design  </h3>-->
<!--                 <label for="zodiac_form.neptune_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="neptune-sm">  {{ zodiac_form.neptune_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.neptune_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="neptune-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.neptune_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="neptune-mk"> {{ zodiac_form.neptune_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.neptune_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.neptune_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.neptune_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->

<!--             <div class="ps-design">-->
<!--                   <h3> Venus design  </h3>-->
<!--                  <label for="zodiac_form.venus_symbol_c"> sc </label>-->
<!--                   <div  class="form-control" id="venus-sm">  {{ zodiac_form.venus_symbol_c }} </div>-->
<!--                   <label for="zodiac_form.venus_symbol_s"> sz </label>-->
<!--                 <div class="symbol-size form-control" id="venus-sz" > {{ zodiac_form.sun_symbol_s }} </div>-->
<!--                  <label for="zodiac_form.venus_marker_c"> mc </label>-->
<!--                 <div  class="form-control" id="venus-mk"> {{ zodiac_form.venus_marker_c }} </div>-->
<!--&lt;!&ndash;                <div> sc {{ zodiac_form.venus_symbol_c}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="symbol-size"> size {{ zodiac_form.venus_symbol_s }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div> text  {{ zodiac_form.venus_marker_c }} </div>&ndash;&gt;-->
<!--            </div>-->
<!--                     <div class="ps-design">-->
<!--                   <h3> Chart axis and ticks </h3>-->
<!--                          <label for="zodiac_form.degrees_track_ec"> degrees edge color </label>-->
<!--                   <div  class="form-control" id="deg-ec">  {{ zodiac_form.degrees_track_ec  }} </div>-->

<!--                   <label for=" zodiac_form.degrees_ticks_color"> ticks color </label>-->
<!--                 <div class="symbol-size form-control" id="tick-cl" > {{  zodiac_form.degrees_ticks_color}} </div>-->
<!--&lt;!&ndash;                <div> Dt ec  {{ zodiac_form.degrees_track_ec }} </div>&ndash;&gt;-->
<!--&lt;!&ndash;                         <div> ticks  {{  zodiac_form.degrees_ticks_color  }} </div>&ndash;&gt;-->
<!--            </div>-->
             <button class="show-chart" type="submit"> Draw </button>

        </form>

    </div>

    <div id="chart-fig">
        <h1> Today chart </h1>
        <img src="{% static 'plots/tr_chart_now.png' %}" alt="plot" id="chart-plot">
    </div>
</div>   

{% endblock %}













