{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Today Chart {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart">
    <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/wheel_year" target = '_blank'>Wheel Year</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/interpretations" target = '_blank'>Interpretations</a>
</div>

<div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4)">
    <div class="menu-choice-dd"> Creative Astrology
        <div class="menu-choice-dd-content">
            <a href="http://127.0.0.1:8000/design_your_chart"> colorful chart </a>
             <a href="#"> imaginery chart </a>
        </div>
    </div>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/shop" target = '_blank'>Shop</a>
</div>

<div class="menu-choice">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'my chart' user.username %}" target = '_blank'> My chart {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> LOG IN / SIGN UP
            <div class="menu-choice-dd-content">
                <div style="background-color: purple">
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>
{% endblock %}

{% block content-data %}
<div class="chart-data" id="cfl-layout">
    <div class="chart-form">
        <h3> Chart parameters </h3>
        <form class="chart-forms"  id="cfl-chart" action="/designed_chart/" target="_blank"  method="post">
            {{ zodiac_form.media }}
            {% csrf_token %}
            {{ zodiac_form | crispy }}
        </form>
    </div>

    <div id="chart-fig">
        <h1> Today chart </h1>
        <img src="{% static 'plots/tr_chart_now.png' %}" alt="plot" id="chart-plot">
    </div>
</div>   

{% endblock %}













