{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Color your chart {% endblock %}

{% block navigation %}

<div class="menu-choice">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice menu-choice-dd opened-tab">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>


<div class="menu-choice menu-choice-dd">
     {% if user.is_authenticated %}
    <div>
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div> GET INSIDE </div>
            <div class="menu-choice-dd-content">
                <div class="menu-choice-dd-content-links auth-bt">
                    <div>
                        <a href="{% url 'login' %}"> LOG IN </a>
                    </div>
                     <div>
                          <a href="{% url 'register' %}"> SIGN UP </a>
                    </div>

                </div>


            </div>

         {% endif %}
</div>


{% endblock %}

{% block content-data %}

<div class="one-clr-div" >
      <div class="instruction-text">
          <h3>To get planet chart for a certain date, enter the following data:</h3>
      </div>
    <form class="chart-forms" id="" target="_blank" method="post" >
        {{ z_form.media }}
        {% csrf_token %}
        <div class="one-clr-cd">
            <h3 class="one-clr-form-title"> Date & place </h3>
            <div class="form-row" >
                 <label for="chart-date" class="clr-form-labels">chart date:</label>
                <div class="django-flatpickr">
                            <input type="text" name="oc_chart_date" value="2025-10-17 12:31:50"
                             class="form-control dp-input" id="chart-date" required data-fpconfig="{&quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;options&quot;: {&quot;altInput&quot;: true, &quot;dateFormat&quot;: &quot;Y-m-d H:i:S&quot;, &quot;enableTime&quot;: true, &quot;wrap&quot;: true}}" data-debug="">
                </div>
            </div>

            <div class="form-row">
                <label for="chart-city" class="clr-form-labels" > city:</label>
                <input type="text" name="oc_chart_city" value="Ufa" class="form-control dp-input" placeholder="city" id="chart-city" required>
            </div>
            <div class="form-row">
                <label for="chart-country" class="clr-form-labels"> country:</label>
                <input type="text" name="oc_chart_country" value="Russia" class="form-control dp-input" id="chart-country" required>
            </div>

            <div class="form-row">
                <label for="id_one_clr_zr_chart_mode" class="clr-form-labels">  chart mode</label>
                <select name="one_clr_zr_chart_mode" id="id_one_clr_zr_chart_mode">
                      <option value="65536">Sidereal</option>
                      <option value="0">Tropical</option>
                      <option value="8">Heliocentric</option>
                </select>
            </div>

            <div class="form-row">
                <label for="id_one_clr_zr_chart_hs" class="clr-form-labels"> Chose event house system: </label>
                <select name="one_clr_zr_chart_hs" id="id_one_clr_zr_chart_hs">
                     <option value="P">Placidus</option>
                     <option value="R">Regiomontanus</option>
                    <option value="E">Equal</option>
                    <option value="Without houses">Without houses</option>
                </select>
            </div>

            <div class="one-clr-chart-clrs" >
                <h3 class="one-clr-form-title"> Colors </h3>
                <div class="form-row">
                    <label for="face-color" class="clr-form-labels tooltip"> face color:
                    <img src="{% static 'images/instruction_images/face_color.png'%}" class="tooltiptext"></label>
                    <input type="text" id="face-color" class="colorfield_field coloris face-color form-control" name="face_color"
                     value="#300c63"
                     placeholder="#300c63"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-face-color"
                     required />
                    <script id="coloris-face-color" type="application/json">
                        {"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}
                    </script>
                </div>

                <div class="form-row">
                    <label for="edge-color" class="clr-form-labels clr-form-labels tooltip"> edge color:
                     <img src="{% static 'images/instruction_images/edge_color.png'%}" class="tooltiptext"></label>
                    <input type="text" id="edge-color" class="colorfield_field coloris edge-color form-control"
                         name="edge_color" value="#3dffc8" placeholder="#3dffc8" data-coloris=""
                         data-coloris-options-json-script-id="coloris-edge-color" required />
                    <script id="coloris-edge-color" type="application/json">
                        {"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}
                    </script>
                </div>

                <div class="form-row">
                     <label for="text-color" class="clr-form-labels"> zodiac symbol color:</label>
                     <input type="text" id="text-color"  class="colorfield_field coloris text-color form-control"
                            name="text_color" value="#3dffc8" placeholder="#3dffc8" data-coloris="" data-coloris-options-json-script-id="coloris-text-color" required />
                     <script id="coloris-text-color" type="application/json">
                         {"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}
                     </script>
                </div>


                <div class="form-row">
                    <label for="tick-color" class="clr-form-labels tooltip">  degree track color:
                        <img src="{% static 'images/instruction_images/deg_track_clr.png'%}" class="tooltiptext"></label>
                    <input type="text" id="tick-color" class="colorfield_field coloris tick-color form-control"
                           name="tick_color" value="#63ffd3" placeholder="#63ffd3" data-coloris="" data-coloris-options-json-script-id="coloris-tick-color" required/>
                    <script id="coloris-tick-color" type="application/json">
                        {"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}
                    </script>
                </div>

                <div class="form-row">
                    <label for="deg-color" class="clr-form-labels ">  degree tick color </label>
                     <input type="text"
                         id="deg-color"
                         class="colorfield_field coloris deg-color form-control"
                         name="deg_color"
                         value="#63ffd3"
                         placeholder="#63ffd3"
                         data-coloris=""
                         data-coloris-options-json-script-id="coloris-deg-color"
                         required
                     />
                    <script id="coloris-deg-color" type="application/json">
                        {"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}

                    </script>
                </div>

                <div class="form-row">
                    <label class="marker-color clr-form-labels"> planet symbol marker color:</label>
                       <input type="text"
                         id="marker-color"
                         class="colorfield_field coloris marker-color form-control"
                         name="marker_color"
                         value="#ffc83d"
                         placeholder="#ffc83d"
                         data-coloris=""
                         data-coloris-options-json-script-id="coloris-marker-color"
                         required
                       />
                    <script  id="coloris-marker-color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
                </div>

                <div class="form-row">
                    <label for="symbol-color" class="clr-form-labels"> planet symbol color:</label>
                    <input type="text"
                         id="symbol-color"
                         class="colorfield_field coloris symbol-color form-control"
                         name="symbol_color"
                         value="#ff3d74"
                         placeholder="#ff3d74"
                         data-coloris=""
                         data-coloris-options-json-script-id="coloris-symbol-color"  required
                    />
                    <script id="coloris-symbol-color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
                </div>

                <div class="form-row">
                     <label for="ha-color" class="clr-form-labels tooltip"> house axe color:
                       <img src="{% static 'images/instruction_images/ha_color.png'%}" class="tooltiptext"></label>
                     <input type="text"
                     id="ha-color"
                     class="colorfield_field coloris ha-color form-control"
                     name="house_ax_color"
                     value="#ffc83d"
                     placeholder="#ffc83d"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-ha-color"
                     required
                     />
                    <script id="coloris-ha-color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
                </div>


                <div class="form-row">
                    <label for="hnum-color" class="clr-form-labels"> house number color:</label>
                    <input type="text"
                         id="hnum-color"
                         class="colorfield_field coloris hnum-color form-control"
                         name="house_number_color"
                         value="#ffc83d"
                         placeholder="#ffc83d"
                         data-coloris=""
                         data-coloris-options-json-script-id="coloris-hnum-color"
                         required
                    />
                    <script id="coloris-hnum-color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
                </div>

                <div class="form-row">
                       <label for="htr-color" class="clr-form-labels tooltip"> house track color:
                       <img src="{% static 'images/instruction_images/ht_clr.png'%}" class="tooltiptext"></label>
                        <input type="text"
                                 id="htr-color"
                                 class="colorfield_field coloris htr-color form-control"
                                 name="house_track_color"
                                 value="#ffc83d"
                                 placeholder="#ffc83d"
                                 data-coloris=""
                                 data-coloris-options-json-script-id="coloris-htr-color"
                                 required
                        />
                        <script id="coloris-htr-color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
                </div>
            </div>
        </div>

        <div class="one-clr-chart-fs" >
            <h3 class="one-clr-form-title"> Font and lines </h3>

            <div class="form-row">
                <label for="id_marker_size" class="clr-form-labels"> symbol size:</label>
                <input type="number" name="marker_size" value="25" class="dp-input-size" required id="id_marker_size">
            </div>

            <div class="form-row">
                 <label for="id_symbol_size" class="clr-form-labels"> planet marker size:</label>
                 <input type="number" name="symbol_size" value="15" class="dp-input-size" required id="id_symbol_size">
            </div>

            <div class="form-row">
                <label for="id_font_size" class="clr-form-labels"> zodiac symbol font size:</label>
                <input type="number" name="font_size" value="50" class="dp-input-size" required id="id_font_size">
            </div>

            <div class="form-row">
                 <label for="id_line_width" class="clr-form-labels"> axes line width:</label>
                 <input type="number" name="line_width" value="3" max="7" class="dp-input-size" required id="id_line_width">
            </div>

            <div class="form-row">
                 <label for="id_house_ax_lw" class="clr-form-labels"> house axe line width:</label>
                 <input type="number" name="house_ax_lw" value="3" class="dp-input-size" required id="id_house_ax_lw">
            </div>

            <div class="form-row">
                 <label for="id_house_num_fs" class="clr-form-labels"> house number font size:</label>
                <input type="number" name="house_num_fs" value="27" class="dp-input-size" required id="id_house_num_fs">
            </div>

            <div class="form-row">
                <label for="id_house_track_lw" class="clr-form-labels"> house track line width:</label>
                <input type="number" name="house_track_lw" value="3" class="dp-input-size" required id="id_house_track_lw">
            </div>
        </div>

         <button class="show-chart" type="submit"> DRAW CHART </button>

    </form>

    <div id="chart-instruction">
        <img src="{% static 'images/instruction.png' %}" alt="instruction">
    </div>

</div>


{% endblock %}