{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Houses</title>
</head>
<body>


    <div id="chart-container">
        <div id="chart-layers">
            <img src="{% static 'plots/today_chart.png' %}" alt="plot" id="chart-plot">
            <img src="{% static 'plots/house_chart.png' %}" alt="house axes" id="house-plot">
            <img src="{% static 'images/tr_zr.png' %}" alt = "zodiac ring" id="zodiac_ring_tr">
        </div>
    </div>

    <div class="chart-data-tables">
            <table id="planet-list" >
                <caption> Planet position data </caption>
                <thead>
                  <tr>
                        <th> Symbols</th>
                        <th> Planets</th>
                        <th> Degrees</th>
                        <th> Sign </th>
                       <th> 30 degress </th>
                  </tr>
                </thead>
                <tbody>
                     {% for planet, sym, deg, sign, thdeg in planet_deg %}
                    <tr>
                         <td> {{ deg }}</td>
                        <td> {{ sym }}</td>
                        <td> {{ planet }} </td>
                        <td> {{ sign }}</td>
                        <td> {{ thdeg }}</td>

                    </tr>
                     {% endfor %}
                </tbody>
           </table>
</body>
</html>>