{% extends "base.html" %}
{% load static %}

{% block title %} Interpretations {% endblock %}

{% block navigation %}
<div class="menu-choice"> <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/"> Today chart </a>
            </div>
            <div class="menu-choice" > <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a></div>
            <div class="menu-choice" >  <a href="http://127.0.0.1:8000/wheel_year" target = '_blank'>Wheel Year</a></div>
            <div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">  <a href="http://127.0.0.1:8000/interpretations" target = '_blank'>Interpretations</a></div>
            <div class="menu-choice">
                <div class="menu-choice-dd">
                       Creative Astrology
                       <div class="menu-choice-dd-content">
                        <a href="http://127.0.0.1:8000/design_your_chart"> colorful chart </a>
                           <a href="#"> imaginery chart </a>
                         </div>
                </div>
            </div>

            <div class="menu-choice"><a href="http://127.0.0.1:8000/shop" target = '_blank'>Shop</a></div>

            <div class="menu-choice">
                {% if user.is_authenticated %}
             <div class="menu-choice-dd"> <a href= "{% url 'my chart' user.username %}" target = '_blank'>
                 My chart {{ user.username }}</a>
                       <div class="menu-choice-dd-content">
                        <a href="{% url 'logout' %}">  Log out </a>
                    {% else %}
                            <div class="menu-choice-dd"> OPTION
                                <div class="menu-choice-dd-content">
                           <a href="{% url 'login' %}" target = '_blank'> Log In </a> <br>
                           <a href="{% url 'register' %}" target = '_blank'> Sign Up </a>
                         </div>
                   </div>
                 {% endif %}
             </div>
{% endblock %}
                 {% block content-data %}
                 <div class="interpretation-data">
 <div class="sym-descr">
     <h2> Planet symbols </h2>
     <article class="pl-descr">
         <section class="luminary interpretation-sec">
                  <div class="post">
                   <p class="planet-symbols"> ☼ </p>
                     <p class="description"> Sun symbol represents light power that one
                     can use to take apart world to chose among variety things that belongs naturally to them.
                     This power absolute and with the help of sun power we perceive the whole of all signs in a chart.
                     io dolores error in inventore iusto magni mollitia quasi quia
                         quisquam quo temporibus? Alias fugiat maxime repellendus vel
                         voluptatem? At atque debitis ipsum laudantium odit quae veniam
                         veritatis. A accusamus, deserunt dolore ex, facere iusto necessitatibus
                         odio odit officiis quae vel velit voluptas, voluptatum. Architecto at,
                         aut dignissimos esse eum id illo iusto nisi porro quam quod, saepe voluptatibus </p>
                      <button onclick="readMore(this)" > Read More  </button>

                  </div>
         </section>


         <section class="luminary interpretation-sec">

             <div class="post">
                  <p class="planet-symbols">  ☾  </p>
                   <p class="description">   Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem delectus esse facere impedit ipsum laborum molestiae,
                       numquam possimus quae qui voluptates? Cum dignissimos distinctio eaque eius
                       et ex excepturi illum itaque maiores mollitia numquam porro quam, quas quisuqamepell quo ra vtelit vie.ta
                       Ab autem consequatur dolores etenetur ullam veniampisci ali
                       ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis cumque doloremque earum eius et incidunt laboriosam minima quibusdam rem sapiente, sed sint temporibus vel voluptatum! Accusamus dolores enim hic, minima non numquam.
                           Assumenda aut dolorem dolorum facilis iste minima minus officia perspiciatis sapiente vitae. Commodi consectetur corporis delectus dolor libero minus modi nam placeat quaerat quam, sunt voluptate voluptates.</span>
                   </p>
                   <button onclick="readMore(this)" > Read More  </button>
             </div>
             </section>



                       <section class="luminary interpretation-sec">
               <p class="planet-symbols">  ☿ </p>
                           <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut cumque dolor non numquam porro repudiandae tempora? Aut, dolores fugit laborum odio quidem vero.</p>
         </section>
   </article>
 </div>
                 <div class="sym-descr">
                     <h2> Sign symbols </h2>
                      <article class="sign-descr">
                        <section class="fire-signs interpretation-sec">
                         <p class="sign-symbols fire-sign"> ♌︎ </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>
                            <section class="water-signs interpretation-sec">
                         <p class="sign-symbols"> ♋︎ </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>
                          <section class="air-signs interpretation-sec">
                         <p class="sign-symbols"> ♊ </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>
                          <section class="earth-signs interpretation-sec">
                         <p class="sign-symbols">︎♍︎</p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>
                      </article>
                 </div>
<div class="sym-descr">
    <h2> Houses </h2>
                      <article class="house-descr">
                        <section class="houses interpretation-sec">
                         <p class="house-number"> I  </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>

                             <section class="houses interpretation-sec">
                         <p class="house-number"> Second house  </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>

                             <section class="houses interpretation-sec">
                         <p class="house-number"> Third house  </p>
             <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, et laborum magnam quam quasi quibusdam.
                 Ab, cupiditate dolor dolore ipsam iure iusto libero mollitia nemo, possimus praesentium sunt unde?30   </p>
             </section>
                      </article>
                 </div>

<script src="/static/scripts/rm.js" async> </script>
{% endblock %}












