
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="main-container">


        <div> header <img src="images/" alt="hat"> </div>

        <nav class="navigation">
            <div> <a href="https://gaiaalaya.pythonanywhere.com/home/" target = '_blank'> Today chart</a> </div>
            <div> <a href="https://gaiaalaya.pythonanywhere.com/home/" target = '_blank'>Transits</a></div>
            <div>  <a href="https://gaiaalaya.pythonanywhere.com/home/" target = '_blank'>Wheel Year</a></div>
            <div>  <a href="https://gaiaalaya.pythonanywhere.com/home/" target = '_blank'>Interpretations</a></div>
            <div>  <a href="#" target = '_blank'>Creative astrology</a></div>
            <div><a href="#" target = '_blank'>My chart</a> </div>
            <div><a href="#" target = '_blank'>Shop</a></div>
        </nav>

        <div class="chart-data">
            <div class="table-data">
                <table>
                <caption> Houses cusps data </caption>
                <thead>
                  <tr>
                        <th> House </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for hn, deg, sign in house_data %}
                    <tr>
                         <td> {{ hn }}</td>
                        <td> {{ deg }}</td>
                        <td> {{ sign }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
                     </table>
            </div>

            <div id="chart-fig">
                <h1> Planet chart for {{ date }}</h1>
                  <img src="{% static 'plots/now_chart.png' %}" alt="plot" id="chart-plot">
                    <img src="{% static 'images/tr_zr.png' %}" alt = "zodiac ring" id="zodiac_ring_tr">
            </div>



            <div class="table-data">
            <table id="planet-list" >
                <caption> Planet position data </caption>
                <thead>
                  <tr>
                        <th> Planet </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for sym, deg, sign in planet_data %}
                    <tr>
                         <td> {{ sym }}</td>
                        <td> {{ deg }}</td>
                        <td> {{ sign }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
           </table>

            </div>

            <div class="table-data" id="aspects">
                 <table id="squares" >
                <thead>
                  <tr>
                        <th colspan="3"> squares ∟ </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                         <td> planet </td>
                         <td> angle </td>
                         <td> planet </td>
                    </tr>
                    {% for pn, angle, ap in ats %}
                    <tr>
                        <td> {{ pn }} </td>
                         <td> {{ angle }} </td>
                         <td> {{ ap }} </td>

                    </tr>
                    {% endfor %}

                </tbody>
           </table>



         <table id="oppositions">
                <thead>
                  <tr>
                        <th colspan="3"> oppositions </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                         <td> planet </td>
                         <td> angle </td>
                         <td> planet </td>
                    </tr>
                    {% for pn, angle, ap in ato %}
                    <tr>
                        <td> {{ pn }} </td>
                         <td> {{ angle }} </td>
                         <td> {{ ap }} </td>
                    </tr>
                    {% endfor %}
                </tbody>

         </table>

         <table id="trines">
              <thead>
                  <tr>
                        <th colspan="3"> trines </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                         <td> planet </td>
                         <td> angle </td>
                         <td> planet </td>
                    </tr>
                    {% for pn, angle, ap in att %}
                    <tr>
                        <td> {{ pn }} </td>
                         <td> {{ angle }} </td>
                         <td> {{ ap }} </td>
                    </tr>
                    {% endfor %}
                </tbody>

         </table>


         <table id="conj">
              <thead>
                  <tr>
                        <th colspan="3"> conjunctions </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                         <td> planet </td>
                         <td> angle </td>
                         <td> planet </td>
                    </tr>

                    {% for pn, angle, ap in atc %}
                    <tr>
                        <td> {{ pn }} </td>
                         <td> {{ angle }} </td>
                         <td> {{ ap }} </td>
                    </tr>
                    {% endfor %}
                </tbody>

         </table>
            </div>

        </div>


            <div class="chart-df"> 

                <div id="chart-form">
                     {{ chart_form.media }}


                    <form action=" " method="post">
                        {% csrf_token %}
                        {{ chart_form.as_p }}
                        <input type="submit" value="Submit">
                    </form>

                </div>


                <div id="transit-form">
                        {{ tr_form.media }}
                    <form action=" " method="post">
                        {% csrf_token %}
                        {{ tr_form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </div>


            <div class="sign-buttons">

                <div class="sign-button"> <img src="images/jupiter_symbol.svg""></div>
                <div class="sign-button">2</div>

          
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>

            </div>

        </div>


    </div>
    
</body>
</html>