{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Your charts {% endblock %}

{% block navigation %}
<div class="menu-choice" >
    <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/" target = '_blank'> Today chart </a></div>
    <div class="menu-choice" > <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a></div>
    <div class="menu-choice" >  <a href="#" target = '_blank'>Wheel Year</a></div>
    <div class="menu-choice">  <a href="#" target = '_blank'>Interpretations</a></div>
    <div class="menu-choice">
                <div class="menu-choice-dd">
                       Creative Astrology
                       <div class="menu-choice-dd-content">
                        <a href="http://127.0.0.1:8000/design_your_chart"> colorful chart </a>
                           <a href="#"> imaginery chart </a>
                         </div>
                </div>
            </div>
             <div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));"> <a href="http://127.0.0.1:8000/my_chart" target = '_blank'>My chart</a> </div>
            <div class="menu-choice"><a href="#" target = '_blank'>Shop</a></div>
{% endblock %}


{% block content-data %}

{% if user.is_authenticated %}
               Welcome,  {{ user.username }}
       {% else %}
              You have not logged in
         <a href="http://127.0.0.1:8000/login/"> Log in </a>
         {% endif %}


<div class="user-content">
    <div class="user-info">
         <img src="{{ user.make_avatar }}" class="avatar">
        <p>{{ form.instance.first_name }} {{ form.instance.last_name }}
               </br> {{ form.instance.birthdate }}
            `    </br>  {{ form.instance.email }}
                 </br> {{ form.instance.description }}</p>
         <button class="form-button" onclick="openForm()"> Edit Info </button>
        <div class="chart-form form-popup" id="edit-descr">
            <form class="chart-forms" method="post">
                        {{ form.media }}
                        {% csrf_token %}
                        {{ form | crispy }}
                <button class="show-chart" type="submit"> Update </button>
                <button class="show-chart" type="button" onclick="closeForm()"> Close </button>
            </form>


        </div>
    </div>
    <div class="chart-list">
        <h3> My charts </h3>
        {% for chart in my_charts %}
        <p> <a href="/chart/{{ chart.id }}/"  class="chart_link tooltip" style="color: aliceblue" >  {{ chart.chart_name }}
            <span class="tooltiptext"> {{ chart.chart_date }} </span></a> </p>
        {% endfor %}
        <h3> My transit charts </h3>
        {% for tr_user_chart in my_tr_charts %}
        <p> <a href="/tr_chart/{{ tr_user_chart.id }}/"  class="chart_link tooltip" style="color: aliceblue" >  {{ tr_user_chart.transit_name }} /
            {{ tr_user_chart.event_name }} </a> </p>
        {% endfor %}
    </div>
    <div class="user-forms">
        <h3> Get and save chart </h3>
         {% include 'includes/form.html' %}
        <h3> Get and save tr chart </h3>
        <form class="chart-forms" target="_blank"  method="post">
            {{ tr_form.media }}
            {% csrf_token %}
            {{ tr_form | crispy }}
            <button class="show-chart" type="submit"> Show transit chart </button>
        </form>

    </div>
</div>
<script src="/static/scripts/ed_form_pp.js" async> </script>
{% endblock %}
