{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Planets</title>
</head>
<body>


    <div id="chart-container">
        <div id="chart-layers">
            <img src="{% static 'images/tr_zr.png' %}" alt ="chart axes" id="chart-axes-planet-today">
            <img src="{% static 'plots/today_chart.png' %}" alt="plot" id="chart-planet-today">


        </div>

        

    </div>
   


    
</body>
</html>