{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <form method="POST" action="/show_by_date/">
         {% csrf_token %}
           <label> Enter date </label>
        <input type="datetime-local" name="user_date">
             <label> Enter city </label>
        <input type="text" name="city">
        <label> Enter country </label>
        <input type="text" name="country">
        <button type="submit"> Submit </button>
    </form>

</body>
</html>