{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <title>Transits</title>
</head>
<body>

  <div class="main-container">
      <div> <img src="/static/images/hat.png" alt="hat" id="hat"> </div>

        <nav class="navigation">
            <div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));"> <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/" target = '_blank'> Today chart </a>
                <div class="dropdown-content">
                     <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <div class="menu-choice" > <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a></div>
            <div class="menu-choice" >  <a class="menu-link" href="#" target = '_blank'>Wheel Year</a></div>
            <div class="menu-choice">  <a class="menu-link" href="#" target = '_blank'>Interpretations</a></div>
            <div class="menu-choice">
                <div class="menu-choice-dd">
                       Creative Astrology
                       <div class="menu-choice-dd-content">
                        <a href="#"> colorful chart </a>
                           <a href="#"> imaginery chart </a>
                         </div>
                </div>
            </div>
            <div class="menu-choice"><a href="http://127.0.0.1:8000/chart_form" target = '_blank'>My chart</a> </div>
            <div class="menu-choice"><a href="#" target = '_blank'>Shop</a></div>
        </nav>


      <div class="transit-data">
          <div class="table-div">
            <table id="planet-list" >
                <caption> Planet position data </caption>
                <thead>
                  <tr>
                        <th> Planet </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                         {% for name, deg, sign in planet_data %}
                    <tr> {% if name == 'Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> {{ name }}  </span></a>
                           </td>
                        {% elif name == 'Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> {{ name }}  </span></a> </td>
                         {% elif name == 'Mercury' %}
                             <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                            <span class="tooltiptext">  {{ name }}  </span>  </a>  </td>
                         {% elif name == 'Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> {{ name }}</span></a>  </td>
                         {% elif name == 'Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                 <span class="tooltiptext"> {{ name }}  </span>  </a> </td>
                         {% elif name == 'Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> {{ name }} </span></a>  </td>
                         {% elif name == 'Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                         {% elif name == 'Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                         {% elif name == 'Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> {{ name }}</span></a>  </td>
                         {% elif name == 'Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext">{{ name }}</span></a></td>
                        {% endif %}
                            <td> {{ deg }}</td>
                            <td style="font-size: xx-large"> {{ sign }}</td>
                          {% endfor %}
                    </tr>
                </tbody>
           </table>
              </div>

                <div class="table-div">
              <table id="house-cusps-table">
                    <caption> House cusps data </caption>
                <thead>
                  <tr>
                        <th> number</th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for hn, deg, sign in house_data %}
                    <tr> {% if hn == 'ASC' %}
                         <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Appereance </span> </td>
                        {% elif hn == 'II' %}
                         <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Resource </span> </td>
                         {% elif hn == 'III' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Mental abilities </span> </td>
                        {% elif hn == 'IC' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Housing </span> </td>
                        {% elif hn == 'V' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Fun, entertainment, art </span> </td>
                        {% elif hn == 'VI' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Work, service </span> </td>
                        {% elif hn == 'DSC' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Relationship </span> </td>
                        {% elif hn == 'VIII' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Sex, magic </span> </td>
                        {% elif hn == 'IX' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Higher knowledge </span> </td>
                        {% elif hn == 'MC' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Power </span> </td>
                        {% elif hn == 'XI' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Friends, interests </span> </td>
                        {% elif hn == 'XII' %}
                        <td class="tooltip"> {{ hn }} <span class="tooltiptext"> Results  </span> </td>
                        {% endif %}
                        <td> {{ deg }}</td>
                        <td style="font-size: xx-large"> {{ sign }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
                </table>
                    </div>

            <div id="chart-fig" style="">
                <div id="form-info" style="display:flex; display: justify-content: space-between;" >
                    <div class="event-data">
                       <p> Event date: {{ event_date }} </p>
                       <p> Event city: {{ event_city }} </p>
                       <p> Event country: {{ event_country }} </p>
                    </div>
                    <div class="event-data">
                        <p> Transit date: {{ tr_date }} </p>
                       <p> Transit city: {{ tr_city }} </p>
                       <p> Transit country: {{ tr_country }} </p>
                    </div>
                </div>

                <img src="{% static 'plots/transit_chart.png' %}" alt="plot" id="chart-plot">
                <img src="{% static 'images/tr_zr.png' %}" alt = "zodiac ring" id="zodiac_ring_tr">
            </div>

          <div class="table-div">
             <table id="tr_planet-list" >
                <caption> Transit planet position data </caption>
                <thead>
                  <tr>
                        <th> TP </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for name, deg, sign in tr_planet_data %}
                    <tr> {% if name == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a>
                           </td>
                        {% elif name == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif name == 'tr_Mercury' %}
                             <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                            <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif name == 'tr_Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif name == 'tr_Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                 <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif name == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif name == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif name == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif name == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif name == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% endif %}
                            <td> {{ deg }}</td>
                            <td> {{ sign }}</td>
                          {% endfor %}
                    </tr>
                </tbody>
           </table>
          </div>


          <div class="table-div">
         <table id="tr_houses-table" >
                <caption> Transit Houses cusps data </caption>
                <thead>
                  <tr>
                        <th> House </th>
                        <th> Degrees </th>
                        <th> Sign </th>
                  </tr>
                </thead>
                <tbody>
                     {% for hn, deg, sign in tr_house_data %}
                    <tr>
                         <td> {{ hn }}</td>
                        <td> {{ deg }}</td>
                        <td> {{ sign }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
             </table>
              </div>

    <div class="table-div">
    <div id="all-aspects-table">
        <table id="all-aspects">
                     <caption> Aspects </caption>
                    <thead>
                     <tr>
                         <th> planet </th>
                         <th> angle </th>
                         <th> planet </th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, angle, ap in ats %}
                    <tr> {% if name == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif name == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif name == 'tr_Mercury' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:grey">
                           ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif name == 'tr_Venus' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                                ♀  <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif name == 'tr_Mars' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                 ♂  <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif name == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif name == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif name == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif name == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif name == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif name == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ name }}  </span></a>
                               </td>
                        {% elif name == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ name }}  </span></a> </td>
                        {% elif name == 'Mercury' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:grey">
                               ☿  <span class="tooltiptext">  {{ name }}  </span>  </a>  </td>
                        {% elif name == 'Venus' %}
                                 <td class="tooltip"> <a href="#" class='link-symbols' style="color:grey">
                                      ♀   <span class="tooltiptext"> {{ name }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> <a href="#" class='link-symbols' style="color:red">
                                    ♂   <span class="tooltiptext"> {{ name }}  </span>  </a> </td>
                        {% elif name == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ name }} </span></a>  </td>
                             {% elif name == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ name }}</span></a>  </td>
                             {% elif name == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ name }}</span></a></td>
                            {% endif %}
<!--                                <td class="tooltip"> {{ angle }}  <span class="tooltiptext"> square  </span></td>-->
                                <td> {{ angle }}</td>

                        {% if ap == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif ap == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif ap == 'tr_Mercury' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                          ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif ap == 'tr_Venus' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                               ♀   <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif ap == 'tr_Mars' %}
                             <td class="tooltip"> <a href="#" class='link-symbols' style="color:red">
                                ♂  <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif ap == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif ap == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif ap == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif ap == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif ap == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif ap == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ ap }}  </span></a>
                               </td>
                        {% elif ap == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ ap }}  </span></a> </td>
                        {% elif ap == 'Mercury' %}
                                 <td class="tooltip"> <a href="#" class='link-symbols' style="color:grey">
                                 ☿ <span class="tooltiptext">  {{ ap }}  </span>  </a>  </td>
                        {% elif ap == 'Venus' %}
                                 <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                                   ♀   <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> <a href="#" class='link-symbols' style="color:red">
                                    ♂  <span class="tooltiptext"> {{ ap }}  </span>  </a> </td>
                        {% elif ap == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ ap }} </span></a>  </td>
                             {% elif ap == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                             {% elif ap == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ ap }}</span></a></td>
                            {% endif %}
                         {% endfor %}
                    </tr>

                     {% for name, angle, ap in att %}
                    <tr>
                        {% if name == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif name == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif name == 'tr_Mercury' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                          ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif name == 'tr_Venus' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                                ♂ <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif name == 'tr_Mars' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:red">
                                ♂  <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif name == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif name == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif name == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif name == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif name == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif name == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ name }}  </span></a>
                               </td>
                        {% elif name == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ name }}  </span></a> </td>
                        {% elif name == 'Mercury' %}
                                 <td class="tooltip"> <a href="#" class='link-symbols' style="color:grey">
                              ☿  <span class="tooltiptext">  {{ name }}  </span>  </a>  </td>
                        {% elif name == 'Venus' %}
                                 <td class="tooltip">    <a href="#" class='link-symbols' style="color:grey">
                                   ♀  <span class="tooltiptext"> {{ name }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                    ♂   <span class="tooltiptext"> {{ name }}  </span>  </a> </td>
                        {% elif name == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ name }} </span></a>  </td>
                             {% elif name == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ name }}</span></a>  </td>
                             {% elif name == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ name }}</span></a></td>
                            {% endif %}
<!--                                <td class="tooltip"> {{ angle }}  <span class="tooltiptext"> square  </span></td>-->
                                <td> {{ angle }}</td>

                        {% if ap == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif ap == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif ap == 'tr_Mercury' %}
                             <td class="tooltip"> <a href="#" class='link-symbols' style="color:grey">
                            ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif ap == 'tr_Venus' %}
                             <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                               ♀   <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif ap == 'tr_Mars' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:red">
                               ♂  <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif ap == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif ap == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif ap == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif ap == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif ap == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif ap == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ ap }}  </span></a>
                               </td>
                          {% elif ap == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ ap }}  </span></a> </td>
                        {% elif ap == 'Mercury' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:grey">
                               ☿  <span class="tooltiptext">  {{ ap }}  </span>  </a>  </td>
                        {% elif ap == 'Venus' %}
                                 <td class="tooltip">   <a href="#" class='link-symbols' style="color:grey">
                                     ♀ <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:red">
                                  ♂   <span class="tooltiptext"> {{ ap }}  </span>  </a> </td>
                        {% elif ap == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ ap }} </span></a>  </td>
                             {% elif ap == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                             {% elif ap == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ ap }}</span></a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>

                     {% for name, angle, ap in ato %}
                    <tr>
                        {% if name == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif name == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif name == 'tr_Mercury' %}
                             <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                            <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif name == 'tr_Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif name == 'tr_Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                              ♂   <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif name == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif name == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif name == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif name == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif name == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif name == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ name }}  </span></a>
                               </td>
                        {% elif name == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ name }}  </span></a> </td>
                        {% elif name == 'Mercury' %}
                                 <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                                <span class="tooltiptext">  {{ name }}  </span>  </a>  </td>
                        {% elif name == 'Venus' %}
                                 <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                     <span class="tooltiptext"> {{ name }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                 ♂    <span class="tooltiptext"> {{ name }}  </span>  </a> </td>
                        {% elif name == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ name }} </span></a>  </td>
                             {% elif name == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ name }}</span></a>  </td>
                             {% elif name == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ name }}</span></a></td>
                            {% endif %}
<!--                                <td class="tooltip"> {{ angle }}  <span class="tooltiptext"> square  </span></td>-->
                                <td> {{ angle }}</td>

                        {% if ap == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif ap == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif ap == 'tr_Mercury' %}
                             <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                            ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif ap == 'tr_Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif ap == 'tr_Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                 ♂ <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif ap == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif ap == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif ap == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif ap == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif ap == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif ap == 'Sun' %}
                           <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ ap }}  </span></a>
                               </td>
                          {% elif ap == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ ap }}  </span></a> </td>
                        {% elif ap == 'Mercury' %}
                                 <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                                 ☿ <span class="tooltiptext">  {{ ap }}  </span>  </a>  </td>
                        {% elif ap == 'Venus' %}
                                 <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                     <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                     <span class="tooltiptext"> {{ ap }}  </span>  </a> </td>
                        {% elif ap == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ ap }} </span></a>  </td>
                             {% elif ap == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                             {% elif ap == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ ap }}</span></a></td>

                        {% endif %}
                        {% endfor %}

                    </tr>

                      {% for name, angle, ap in atc %}
                    <tr>
                        {% if name == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif name == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif name == 'tr_Mercury' %}
                             <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                             ☿  <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif name == 'tr_Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif name == 'tr_Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                ♂ <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif name == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif name == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif name == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif name == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif name == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                        {% elif name == 'Sun' %}
                            <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                               ☼ <span class="tooltiptext"> {{ name }}  </span></a>
                               </td>
                        {% elif name == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ name }}  </span></a> </td>
                        {% elif name == 'Mercury' %}
                                 <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                                 ☿ <span class="tooltiptext">  {{ name }}  </span>  </a>  </td>
                        {% elif name == 'Venus' %}
                                 <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                     <span class="tooltiptext"> {{ name }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                    ♂ <span class="tooltiptext"> {{ name }}  </span>  </a> </td>
                        {% elif name == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ name }} </span></a>  </td>
                             {% elif name == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ name }}  </span> </a> </td>
                             {% elif name == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ name }}</span></a>  </td>
                             {% elif name == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ name }}</span></a></td>
                            {% endif %}
<!--                                <td class="tooltip"> {{ angle }}  <span class="tooltiptext"> square  </span></td>-->
                                <td> {{ angle }}</td>

                        {% if ap == 'tr_Sun' %}
                        <td class="tooltip">  <a href="#" class="link-symbols" style="color: gold">
                           ☼ <span class="tooltiptext"> Sun </span></a></td>
                        {% elif ap == 'tr_Moon' %}
                             <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                           ☾ <span class="tooltiptext"> Moon </span></a> </td>
                         {% elif ap == 'tr_Mercury' %}
                             <td class="tooltip"> <a href="#" class='link-symbols' style="color:grey">
                           ☿   <span class="tooltiptext">  Mercury  </span>  </a>  </td>
                         {% elif ap == 'tr_Venus' %}
                             <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                 <span class="tooltiptext"> Venus </span></a>  </td>
                         {% elif ap == 'tr_Mars' %}
                             <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                               ♂  <span class="tooltiptext"> Mars  </span>  </a> </td>
                         {% elif ap == 'tr_Jupiter' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                ♃  <span class="tooltiptext"> Jupiter </span></a>  </td>
                         {% elif ap == 'tr_Saturn' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                 ♄  <span class="tooltiptext">  Saturn  </span> </a> </td>
                         {% elif ap == 'tr_Uranus' %}
                             <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                  ♅  <span class="tooltiptext">  Uranus  </span> </a> </td>
                         {% elif ap == 'tr_Neptune' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                   ♆ <span class="tooltiptext"> Neptune </span></a>  </td>
                         {% elif ap == 'tr_Pluto' %}
                             <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                  ♇  <span class="tooltiptext"> Pluto </span></a></td>
                          {% elif ap == 'Sun' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☼  <span class="tooltiptext"> {{ ap }}  </span></a> </td>
                        {% elif ap == 'Moon' %}
                                 <td class="tooltip"> <a href="#" class="link-symbols" style="color: green">
                               ☾ <span class="tooltiptext"> {{ ap }}  </span></a> </td>
                        {% elif ap == 'Mercury' %}
                                 <td class="tooltip"> ☿  <a href="#" class='link-symbols' style="color:grey">
                                <span class="tooltiptext">  {{ ap }}  </span>  </a>  </td>
                        {% elif ap == 'Venus' %}
                                 <td class="tooltip">  ♀  <a href="#" class='link-symbols' style="color:grey">
                                     <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                        {% elif name == 'Mars' %}
                                 <td class="tooltip"> ♂ <a href="#" class='link-symbols' style="color:red">
                                     <span class="tooltiptext"> {{ ap }}  </span>  </a> </td>
                        {% elif ap == 'Jupiter' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:blue">
                                    ♃  <span class="tooltiptext"> {{ ap }} </span></a>  </td>
                             {% elif ap == 'Saturn' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:brown">
                                     ♄  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Uranus' %}
                                 <td class="tooltip">  <a href="#" class='link-symbols' style="color:chartreuse">
                                      ♅  <span class="tooltiptext">  {{ ap }}  </span> </a> </td>
                             {% elif ap == 'Neptune' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:indigo">
                                       ♆ <span class="tooltiptext"> {{ ap }}</span></a>  </td>
                             {% elif ap == 'Pluto' %}
                                 <td class="tooltip"><a href="#" class='link-symbols' style="color:red">
                                      ♇  <span class="tooltiptext">{{ ap }}</span></a></td>

                        {% endif %}
                    </tr>
                         {% endfor %}

                        </tbody>
                    </table>
                    </div>
        </div>


</body>
</html>