{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Transit Form {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart" >
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice opened-tab">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice menu-choice-dd">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>


<div class="menu-choice menu-choice-dd">
     {% if user.is_authenticated %}
    <div>
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div> GET INSIDE </div>
            <div class="menu-choice-dd-content">
                <div class="menu-choice-dd-content-links auth-bt">
                    <div>
                        <a href="{% url 'login' %}"> LOG IN </a>
                    </div>
                     <div>
                          <a href="{% url 'register' %}"> SIGN UP </a>
                    </div>

                </div>


            </div>

         {% endif %}
</div>
{% endblock %}
 {% block content-data %}

    <div class="tr-chart-form">
        <div class="instruction-text"> <h3>To see transit a chart, enter the following data:</h3></div>

        <form class="chart-forms" target="_blank" method="post">
            {% csrf_token %}
            {{ tr_form.media }}
        <div class="form-row">
            <label for="id_event_date">Event date:</label>
            <div class="django-flatpickr">
                <input type="text" name="event_date" value="2025-11-27 07:15:27"
                   required id="id_event_date" data-fpconfig="{&quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;options&quot;: {&quot;altInput&quot;: true, &quot;dateFormat&quot;: &quot;Y-m-d H:i:S&quot;, &quot;enableTime&quot;: true, &quot;wrap&quot;: true}}" data-debug="">
            </div>
        </div>

        <div class="form-row">
            <label for="id_event_city">Event city:</label>
            <input type="text" name="event_city" value="Ufa" required id="id_event_city">

        </div>

        <div class="form-row">
             <label for="id_event_country">Event country:</label>
            <input type="text" name="event_country" value="Russia" required id="id_event_country">
        </div>

        <div class="form-row">
            <label for="id_ev_mode">Chart mode:</label>
            <select name="ev_mode" id="id_ev_mode">
                  <option value="65536">Sidereal</option>
                  <option value="0">Tropical</option>
                  <option value="8">Heliocentric</option>
            </select>
        </div>

        <div class="form-row">
            <label for="id_ev_house_system"> House system:</label>
            <select name="ev_house_system" id="id_ev_house_system">
                <option value="P">Placidus</option>
                <option value="R">Regiomontanus</option>
                <option value="E">Equal</option>
                <option value="Without houses">Without houses</option>
            </select>
        </div>

        <div class="form-row">
            <label for="id_transit_date">Transit date:</label>
                <div class="django-flatpickr">
                  <input type="text" name="transit_date" value="{% now 'Y-m-d H:i:s' %}" required id="id_transit_date"
                         data-fpconfig="{&quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;options&quot;: {&quot;altInput&quot;: true, &quot;dateFormat&quot;: &quot;Y-m-d H:i:S&quot;, &quot;enableTime&quot;: true, &quot;wrap&quot;: true}}" data-debug="">
                </div>
        </div>

        <div class="form-row">
            <label for="id_transit_city">transit city:</label>
            <input type="text" name="transit_city" value="Ufa" required id="id_transit_city">

        </div>

        <div class="form-row">
            <label for="id_transit_country">transit country:</label>
            <input type="text" name="transit_country" value="Russia" required id="id_transit_country">
        </div>

        <div class="form-row">
            <label for="id_tr_mode">transit chart mode:</label>
            <select name="tr_mode" id="id_tr_mode">
                <option value="65536">Sidereal</option>
                <option value="0">Tropical</option>
                <option value="8">Heliocentric</option>
            </select>
        </div>

        <div class="form-row">
            <label for="id_tr_house_system">Chose transit house system:</label>
                <select name="tr_house_system" id="id_tr_house_system">
                  <option value="P">Placidus</option>
                  <option value="R">Regiomontanus</option>
                  <option value="E">Equal</option>
                  <option value="Without houses">Without houses</option>
                </select>
        </div>
             <button class="show-chart" type="submit"> Show transits </button>
        </form>

        {% endblock %}