{% extends "base.html" %}
{% load static %}

{% block title %}  Transit chart {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice menu-choice-dd">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>


<div class="menu-choice menu-choice-dd">
     {% if user.is_authenticated %}
    <div>
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div> GET INSIDE </div>
            <div class="menu-choice-dd-content">
                <div class="menu-choice-dd-content-links auth-bt">
                    <div>
                        <a href="{% url 'login' %}"> LOG IN </a>
                    </div>
                     <div>
                          <a href="{% url 'register' %}"> SIGN UP </a>
                    </div>

                </div>


            </div>

         {% endif %}
</div>
{% endblock %}



{% block chart-data %}

<div class="table-data">
      {% include 'includes/transit_aspects.html' %}
</div>

<div class="chart-fig" id="tr-chart-fig">
      <div class="form-info">
          <div class="event-info">
              <p class="form-info-data-title">Event date: {{ event_date }} </p>
                       <p class="form-info-data-title"> Event city: {{ event_city }}</p>
                       <p class="form-info-data-title"> Event country: {{ event_country }} </p>
                       <p class="form-info-data-title"> HS: {{ ev_hs_name }} </p>
                       <p class="form-info-data-title"> Mode: {{ ev_mode }} </p>

          </div>
                    <div class="transit-info">
                        <p class="form-info-data-title"> Transit date: {{ tr_date }} </p>
                       <p class="form-info-data-title"> Transit city: {{ tr_city }} </p>
                       <p class="form-info-data-title"> Transit country: {{ tr_country }} </p>
                          <p class="form-info-data-title"> Mode: {{ tr_mode }} </p>
                    </div>
      </div>
                <img src="data:image/png;base64,{{ graph }}" alt="plot" id="tr-chart-plot">
     <a href="{% url 'user tc f'  %}" style="color:aliceblue" class="ul-plot-links"> To transit chart form  </a>
    <a href="{% url 'user c ch f'  %}" style="color:aliceblue" class="ul-plot-links"> To color form  </a>
    <a href="{% url 'ad user chart' %}" style="color:aliceblue" class="ul-plot-links"> To chart form  </a>
  </div>

<div class="table-cont">
    <div class="table-data">
        {% include 'includes/planet_list.html' %}
    </div>

    <div class="table-data">
        {% include 'includes/house_cusps.html' %}
    </div>
</div>

<div class="table-cont">
    <div class="table-data">
         {% include 'includes/transit_planets_position.html' %}
    </div>
</div>
{% endblock %}


