{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ chart.chart_name}} {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
    <a class="menu-link" href="http://127.0.0.1:8000/show_td_chart/"> Today chart </a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="http://127.0.0.1:8000/transit_form" target = '_blank'>Transits</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/wheel_year" target = '_blank'>Wheel Year</a>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/interpretations" target = '_blank'>Interpretations</a>
</div>

<div class="menu-choice">
    <div class="menu-choice-dd"> Creative Astrology
        <div class="menu-choice-dd-content">
            <a href="http://127.0.0.1:8000/design_your_chart"> colorful chart </a>
             <a href="#"> imaginery chart </a>
        </div>
    </div>
</div>

<div class="menu-choice">
    <a href="http://127.0.0.1:8000/shop" target = '_blank'>Shop</a>
</div>

<div class="menu-choice">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'my chart' user.username %}" target = '_blank'> My chart {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> LOG IN / SIGN UP
            <div class="menu-choice-dd-content">
                <div style="background-color: purple">
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>


{% endblock %}


{% block chart-data %}

<div class="table-data">
    <table>
        <caption> Planet data </caption>
         <thead>
             <tr>
                 <th> Planet </th>
                 <th> Degrees </th>
                 <th> Sign </th>
             </tr>
             </thead>

             <tbody>
                    <tr>
                        <td> Sun </td>
                         <td> {{ chart.Sun_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Moon  </td>
                         <td> {{ chart.Moon_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Mercury </td>
                         <td> {{ chart.Mercury_deg}} </td>
                        <td> {{ chart.Mercury_sign }} </td>
                    </tr>

                     <tr>
                        <td> Venus </td>
                         <td> {{ chart.Sun_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                    <tr>
                        <td> Mars </td>
                         <td> {{ chart.Mars_deg}} </td>
                        <td> {{ chart.Mars_sign }} </td>
                    </tr>

                    <tr>
                        <td> Jupiter </td>
                         <td> {{ chart.Jupiter_deg }} </td>
                        <td> {{ chart.Jupiter_sign }} </td>
                    </tr>

                    <tr>
                        <td> Saturn </td>
                         <td> {{ chart.Saturn_deg }} </td>
                        <td> {{ chart.Saturn_sign }} </td>
                    </tr>


                    <tr>
                        <td> Uranus </td>
                         <td> {{ chart.Uranus_deg }} </td>
                        <td> {{ chart.Uranus_sign }} </td>
                    </tr>


                    <tr>
                        <td> Neptune </td>
                         <td> {{ chart.Neptune_deg }} </td>
                        <td> {{ chart.Neptune_sign }} </td>
                    </tr>

                       <tr>
                        <td> Pluto </td>
                         <td> {{ chart.Pluto_deg }} </td>
                        <td> {{ chart.Pluto_sign }} </td>
                    </tr>

         </table>

</div>

<div class="chart-fig">
    <h3> {{ chart.chart_name }}</h3>
      Event name : {{ chart.chart_name }}
        Event date: {{ chart.chart_date }}
        Event city : {{ chart.city }}
        Event country : {{ chart.country }}
    <img src="/media/{{ chart.chart_image }}/" alt="{{ chart.chart_image }}">
    <form>
         {% csrf_token %}
        <button class="show-chart"  type="submit"> Delete {{ chart.chart_name }} </button>
        <a href="{% url 'my chart' user.username %}" > Back to my charts </a>



    </form>
</div>

<div class="table-data">
    <table>
        <caption> HC data </caption>
         <thead>
         <tr>
                       <th>HC</th>
                        <th>Degree</th>
                        <th>Sign</th>
                   </tr>
                   </thead>

                   <tbody>
                        <tr>
                            <td> {{ chart.first_house }}</td>
                            <td> {{ chart.asc_deg }}</td>
                             <td> {{ chart.asc_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ chart.second_house }}</td>
                            <td> {{ chart.resource_deg }}</td>
                             <td> {{ chart.resource_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ chart.third_house }}</td>
                            <td> {{ chart.mental_deg }}</td>
                             <td> {{ chart.mental_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ chart.forth_house }}</td>
                            <td> {{ chart.home_deg }}</td>
                             <td> {{ chart.home_sign }}</td>
                        </tr>


                        <tr>
                            <td> {{ chart.fifth_house }}</td>
                            <td> {{ chart.game_deg }}</td>
                             <td> {{ chart.game_sign }}</td>
                        </tr>

                        <tr>
                            <td> {{ chart.sixth_house }}</td>
                            <td> {{ chart.work_deg }}</td>
                             <td> {{ chart.work_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ chart.seventh_house }}</td>
                            <td> {{ chart.rel_deg }}</td>
                             <td> {{ chart.rel_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ chart.eighth_house }}</td>
                            <td> {{ chart.magic_deg }}</td>
                             <td> {{ chart.magic_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ chart.nineth_house }}</td>
                            <td> {{ chart.esoteric_deg }}</td>
                             <td> {{ chart.esoteric_sign }}</td>
                        </tr>


                         <tr>
                            <td> {{ chart.tenth_house }}</td>
                            <td> {{ chart.status_deg }}</td>
                             <td> {{ chart.status_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ chart.eleventh_house }}</td>
                            <td> {{ chart.interests_deg }}</td>
                             <td> {{ chart.interests_sign }}</td>
                        </tr>

                         <tr>
                            <td> {{ chart.twelfth_house }}</td>
                            <td> {{ chart.benefits_deg }}</td>
                             <td> {{ chart.benefits_sign }}</td>
                        </tr>
                   </tbody>

    </table>
</div>
{% endblock %}