{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Colored Chart {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice">
    <div class="menu-choice-dd"> C <img id='clr-chart-icon' src="{% static 'images/z_in_clr.png' %}"> LOR
        <div class="menu-choice-dd-content">
            <a href="{% url 'color your chart' %}"> color chart </a>
        </div>
    </div>
</div>


<div class="menu-choice">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> ENTER
            <div class="menu-choice-dd-content">
                <div>
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>
{% endblock %}


 {% block chart-data %}
    <div class="table-data">
        {% include 'includes/planet_list.html' %}
    </div>

    <div class="table-data">
        {% include 'includes/aspects.html' %}
    </div>

    <div class="chart-fig" style="background-color: none;">
        <h1> Planet chart for {{ date }}</h1>
        <img src="{% static 'plots/color_user_chart.png' %}" alt="plot" id="chart-plot" style="background-color: none"  >
        <div>
            <a href="{% url 'user lounge' user.username %}" style="color:aliceblue" class="ul-plot-links"> To my lounge  </a>
            <a href="{% url 'ul chart forms' %}" style="color:aliceblue" class="ul-plot-links"> To forms  </a>
            <a href="{% url 'user chart lists' %}" style="color:aliceblue" class="ul-plot-links"> To chart lists  </a>
        </div>
    </div>

    {% endblock %}