{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Color chart form {% endblock %}

{% block navigation %}

<div class="menu-choice" id="today-chart">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>

<div class="menu-choice" >
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>

<div class="menu-choice menu-choice-dd">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>

<div class="menu-choice menu-choice-dd opened-tab">
     {% if user.is_authenticated %}
    <div>
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div> GET INSIDE </div>
            <div class="menu-choice-dd-content">
                <div class="menu-choice-dd-content-links auth-bt">
                    <div>
                        <a href="{% url 'login' %}"> LOG IN </a>
                    </div>
                     <div>
                          <a href="{% url 'register' %}"> SIGN UP </a>
                    </div>

                </div>
            </div>

         {% endif %}

</div>
{% endblock %}

    {% block content-data %}
    <div class="my-chart-clr-form">
        <div class="ul-link-div">

            <div class="ul-links">
              <a href="{% url 'user lounge' user.username %}" style="color:aliceblue" class="ul-plot-links"> To my lounge  </a>
            </div>

             <div class="ul-links">
                  <a href="{% url 'user chart lists' %}" style="color:aliceblue" class="ul-plot-links"> To chart lists  </a>
            </div>

             <div class="ul-links">
                 <a href="{% url 'ad user chart' %}" style="color:aliceblue" class="ul-plot-links"> To chart form  </a>
            </div>

             <div class="ul-links">
                 <a href="{% url 'user tc f'  %}" style="color:aliceblue" class="ul-plot-links"> To transit chart form  </a>
            </div>
        </div>

       <div>
        <div class="instruction-text">
            <h3> Color your chart  </h3>
        </div>
        <form class="chart-forms" method="post" id="clr-form-my-chart" enctype="multipart/form-data">
            {{ color_form.media }}
            {% csrf_token %}
            <div class="form-row">
                <label for="id_chart_name"> Enter chart name </label>
                <input type="text" name="chart_name" value="Got the Olympic Prize" required id="id_chart_name">
            </div>

            <div class="form-row">
                  <label for="id_chart_date">Enter chart date:</label>
                <div class="django-flatpickr">
                      <input type="text" name="chart_date" value="2025-11-21 11:38:55" required id="id_chart_date" data-fpconfig="{&quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;options&quot;: {&quot;altInput&quot;: true, &quot;dateFormat&quot;: &quot;Y-m-d H:i:S&quot;, &quot;enableTime&quot;: true, &quot;wrap&quot;: true}}" data-debug="">
                </div>
                <input type="hidden" name="initial-chart_date" value="2025-11-21 11:38:55" id="initial-id_chart_date">
            </div>

            <div class="form-row">
                <label for="id_chart_mode">Enter chart mode:</label>
                    <select name="chart_mode" id="id_chart_mode">
                        <option value="65536">Sidereal</option>
                        <option value="0">Tropical</option>
                        <option value="8">Heliocentric</option>
                    </select>
            </div>

            <div class="form-row">
                <label for="id_chart_house_system">Enter house system:</label>
                <select name="chart_house_system" id="id_chart_house_system">
                     <option value="P">Placidus</option>
                      <option value="R">Regiomontanus</option>
                      <option value="E">Equal</option>
                      <option value="Without houses" selected>Without houses</option>
                </select>
            </div>


            <div class="form-row">
                <label for="id_face_color">Enter face color </label>
                <input type="text"
                     id="id_face_color"
                     class="colorfield_field coloris id_face_color form-control"
                     name="face_color"
                     value="#300c63"
                     placeholder="#300c63"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_face_color"
                     required
                    />
                <script id="coloris-id_face_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>


            <div class="form-row">
                  <label for="id_edge_color">Enter edge color:</label>
                    <input type="text"
                     id="id_edge_color"
                     class="colorfield_field coloris id_edge_color form-control"
                     name="edge_color"
                     value="#3dffc8"
                     placeholder="#3dffc8"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_edge_color" required/>
                <script id="coloris-id_edge_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>


            <div class="form-row">
                 <label for="id_text_color">Enter text color:</label>
                  <input type="text"
                     id="id_text_color"
                     class="colorfield_field coloris id_text_color form-control"
                     name="text_color"
                     value="#3dffc8"
                     placeholder="#3dffc8"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_text_color"
                     required />
                <script id="coloris-id_text_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                    <label for="id_tick_color">Enter tick track color:</label>
                    <input type="text"
                     id="id_tick_color"
                     class="colorfield_field coloris id_tick_color form-control"
                     name="tick_color"
                     value="#63ffd3"
                     placeholder="#63ffd3"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_tick_color"
                     required/>
                    <script id="coloris-id_tick_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>


            <div class="form-row">
                    <label for="id_deg_color">Enter degrees tick color:</label>
                    <input type="text"
                     id="id_deg_color"
                     class="colorfield_field coloris id_deg_color form-control"
                     name="deg_color"
                     value="#63ffd3"
                     placeholder="#63ffd3"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_deg_color"
                     required/>
                    <script id="coloris-id_deg_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                  <label for="id_marker_color">Enter marker color:</label>
                    <input type="text"
                     id="id_marker_color"
                     class="colorfield_field coloris id_marker_color form-control"
                     name="marker_color"
                     value="#ffc83d" placeholder="#ffc83d"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_marker_color"
                     required/>
                  <script id="coloris-id_marker_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                <label for="id_symbol_color">Enter symbol color:</label>
                <input type="text"
                 id="id_symbol_color"
                 class="colorfield_field coloris id_symbol_color form-control"
                 name="symbol_color"
                 value="#ff3d74"
                 placeholder="#ff3d74"
                 data-coloris=""
                 data-coloris-options-json-script-id="coloris-id_symbol_color"
                 required />
	            <script id="coloris-id_symbol_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                  <label for="id_house_ax_color">Enter house axes color:</label>
                    <input type="text"
                     id="id_house_ax_color"
                     class="colorfield_field coloris id_house_ax_color form-control"
                     name="house_ax_color"
                     value="#ffc83d"
                     placeholder="#ffc83d"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_house_ax_color"
                     required/>
                <script id="coloris-id_house_ax_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                 <label for="id_house_number_color">Enter house number color:</label>
                <input type="text" id="id_house_number_color"
                 class="colorfield_field coloris id_house_number_color form-control" name="house_number_color"
                 value="#ffc83d" placeholder="#ffc83d" data-coloris=""
                 data-coloris-options-json-script-id="coloris-id_house_number_color" required/>
                <script id="coloris-id_house_number_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                  <label for="id_house_track_color">Enter house track color:</label>
                    <input type="text"
                     id="id_house_track_color"
                     class="colorfield_field coloris id_house_track_color form-control"
                     name="house_track_color"value="#ffc83d"placeholder="#ffc83d"
                     data-coloris=""
                     data-coloris-options-json-script-id="coloris-id_house_track_color"
                     required/>
                  <script id="coloris-id_house_track_color" type="application/json">{"format": "hex", "required": true, "clearButton": false, "alpha": false, "forceAlpha": false, "swatches": [], "swatchesOnly": false}</script>
            </div>

            <div class="form-row">
                <label for="id_marker_size">Marker size:</label>
                <input type="number" name="marker_size" value="25" required id="id_marker_size">
            </div>

            <div class="form-row">
                 <label for="id_symbol_size">Symbol size:</label>
                <input type="number" name="symbol_size" value="15" required id="id_symbol_size">
            </div>

            <div class="form-row">
                    <label for="id_font_size">Font size:</label>
	                <input type="number" name="font_size" value="50" required id="id_font_size">
            </div>

            <div class="form-row">
                 <label for="id_line_width">Line width:</label>
	            <input type="number" name="line_width" value="3" required id="id_line_width">
            </div>

            <div class="form-row">
                 <label for="id_house_ax_lw">House ax line width:</label>
                <input type="number" name="house_ax_lw" value="3" required id="id_house_ax_lw">
            </div>

            <div class="form-row">
                <label for="id_house_num_fs">House number font size:</label>
                <input type="number" name="house_num_fs" value="27" required id="id_house_num_fs">

            </div>

            <div class="form-row">
                 <label for="id_house_track_lw">House track line width:</label>
                <input type="number" name="house_track_lw" value="3" required id="id_house_track_lw">
            </div>

             <button class="show-chart" type="submit"> DRAW CHART </button>
        </form>
    <div>
    </div>

{% endblock %}