{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ chart.chart_name}} {% endblock %}


{% block navigation %}

<div class="menu-choice" id="today-chart">
    <a class="menu-link" href="{% url 'show by date' %}"> Today chart </a>
</div>


<div class="menu-choice">
    <a  class="menu-link" href="{% url 'chart for ad' %}" target = '_blank'>Chart for any date</a>
</div>

<div class="menu-choice">
    <a  class="menu-link" href="{% url 'transit form chart' %}" target = '_blank'>Transits</a>
</div>


<div class="menu-choice menu-choice-dd">
    <div> C <img id='clr-chart-icon' src="{% static 'images/zr_clr_icon.png' %}"> LOR  </div>
        <div class="menu-choice-dd-content">
            <div class="menu-choice-dd-content-links">  <a href="{% url 'color your chart' %}"> color chart </a> </div>
        </div>
</div>


<div class="menu-choice" style="background-image:linear-gradient(gold, rgba(159,0,255, 0.4));">
     {% if user.is_authenticated %}
    <div class="menu-choice-dd">
        <a href= "{% url 'user lounge' user.username %}" target = '_blank'> {{ user.username }} </a>
        <div class="menu-choice-dd-content"> <a href="{% url 'logout' %}">  Log out </a>
    </div>
        {% else %}
        <div class="menu-choice-dd"> ENTER
            <div class="menu-choice-dd-content">
                <div>
                     <a href="{% url 'login' %}"> LOG IN </a>
                </div>
                <div>
                    <a href="{% url 'register' %}"> SIGN UP </a>
                </div>

            </div>
        </div>
         {% endif %}
</div>
{% endblock %}



{% block chart-data %}

<div class="table-data">
    <table>
        <caption> Planet data </caption>
         <thead>
             <tr>
                 <th> Planet </th>
                 <th> Degrees </th>
                 <th> Sign </th>
             </tr>
             </thead>

             <tbody>
                    <tr>
                        <td> Sun </td>
                         <td> {{ chart.Sun_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Moon  </td>
                         <td> {{ chart.Moon_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                     <tr>
                        <td> Mercury </td>
                         <td> {{ chart.Mercury_deg}} </td>
                        <td> {{ chart.Mercury_sign }} </td>
                    </tr>

                     <tr>
                        <td> Venus </td>
                         <td> {{ chart.Sun_deg}} </td>
                        <td> {{ chart.Moon_sign }} </td>
                    </tr>

                    <tr>
                        <td> Mars </td>
                         <td> {{ chart.Mars_deg}} </td>
                        <td> {{ chart.Mars_sign }} </td>
                    </tr>

                    <tr>
                        <td> Jupiter </td>
                         <td> {{ chart.Jupiter_deg }} </td>
                        <td> {{ chart.Jupiter_sign }} </td>
                    </tr>

                    <tr>
                        <td> Saturn </td>
                         <td> {{ chart.Saturn_deg }} </td>
                        <td> {{ chart.Saturn_sign }} </td>
                    </tr>


                    <tr>
                        <td> Uranus </td>
                         <td> {{ chart.Uranus_deg }} </td>
                        <td> {{ chart.Uranus_sign }} </td>
                    </tr>


                    <tr>
                        <td> Neptune </td>
                         <td> {{ chart.Neptune_deg }} </td>
                        <td> {{ chart.Neptune_sign }} </td>
                    </tr>

                       <tr>
                        <td> Pluto </td>
                         <td> {{ chart.Pluto_deg }} </td>
                        <td> {{ chart.Pluto_sign }} </td>
                    </tr>

         </table>

</div>

<div class="chart-fig">

    <div class="form-info">

        <div class="event-info">

                <p> Event name : {{ chart.chart_name }} </p>
                 <p>Event date: {{ chart.chart_date }} </p>
                 <p>Event city : {{ chart.city }} </p>
                 <p>Event country : {{ chart.country }}</p>
        </div>

    </div>

    <img src="/media/{{ chart.chart_image }}/" alt="{{ chart.chart_image }}">

    <form method = "POST">
         {% csrf_token %}
        <button class="show-chart"  type="submit"> Delete {{ chart.chart_name }} </button>
    </form>
    <a href="{% url 'user lounge' user.username %}" > To lounge </a>
    </br><a href="{% url 'user chart lists' %}" > To lists </a>
     <a href="{% url 'user tc f'  %}" style="color:aliceblue" class="ul-plot-links"> To transit chart form  </a>
    <a href="{% url 'user c ch f'  %}" style="color:aliceblue" class="ul-plot-links"> To color form  </a>
    <a href="{% url 'ad user chart' %}" style="color:aliceblue" class="ul-plot-links"> To chart form  </a>
</div>


{% endblock %}
