<table id="all-aspects">
  <caption>
    Aspects
  </caption>
  <thead>
    <tr>
      <th>planet</th>
      <th>angle</th>
      <th>planet</th>
    </tr>
  </thead>
  <tbody>
    {% for pn, angle, ap in ats %}

    <tr>
      <td>{{ pn }}</td>
      <td class="tooltip">
        {{ angle }} <span class="tooltiptext square"> square </span>
      </td>
      <td>{{ ap }}</td>
    </tr>
    {% endfor %} {% for pn, angle, ap in att %}
    <tr>
      <td>{{ pn }}</td>
      <td class="tooltip">
        {{ angle }} <span class="tooltiptext trine"> trine </span>
      </td>
      <td>{{ ap }}</td>
    </tr>
    {% endfor %} {% for pn, angle, ap in ato %}
    <tr>
      <td>{{ pn }}</td>
      <td class="tooltip">
        {{ angle }} <span class="tooltiptext opposition"> opposition </span>
      </td>
      <td>{{ ap }}</td>
      {% endfor %}
    </tr>

    {% for pn, angle, ap in atc %}
    <tr>
      <td>{{ pn }}</td>
      <td class="tooltip">
        {{ angle }} <span class="tooltiptext conjunction"> conjunction </span>
      </td>
      <td>{{ ap }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
