 <table id="tr_houses-table">
     <caption> Transit Houses cusps data </caption>
        <thead>
            <tr>
                <th> House </th>
                <th> Degrees </th>
                <th> Sign </th>
            </tr>
        </thead>
        <tbody>
                     {% for hn, deg, sign in tr_house_data %}
                     <tr>
                         <td> {{ hn }}</td>
                        <td> {{ deg }}</td>
                        <td> {{ sign }}</td>
                    </tr>
                     {% endfor %}
        </tbody>
 </table>

  <script>
       window.onload = function() {
       const table = document.getElementById('tr_houses-table');
        if (table) {
            const tbodyRows = table.querySelectorAll('tbody tr');
            if (tbodyRows.length === 0) {
                table.style.display = 'none';
            }
        }
    };
 </script>

